// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.w-8 {
  width: 10%;
}

.w-10 {
  width: 10%;
}

.auctions {
  width: 50%;
  margin: 0 auto;

  .tableFilters {
    margin-bottom: 10px;
    input {
      width: 175px;
    }
    .control {
      float: right;
    }
  }

  .table {
    width: 100%;

    .sorting {
      background-image: url('../images/sort_both.png');
      background-repeat: no-repeat;
      background-position: center right;
    }
    .sorting_asc {
      background-image: url('../images/sort_asc.png');
      background-repeat: no-repeat;
      background-position: center right;
    }
    .sorting_desc {
      background-image: url('../images/sort_desc.png');
      background-repeat: no-repeat;
      background-position: center right;
    }
  }
}

h1 {
  text-align: center;
  font-size: 30px;
}